@import url('https://fonts.googleapis.com/css2?family=Ramaraja&family=Tenali+Ramakrishna&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --primary-font: 'Ramaraja', serif;
  /* --secondary-font: 'Tenali Ramakrishna', sans-serif; */
  --secondary-font: 'Peddana', serif;
}

.card-footer {
}

/* .badge {
  font-size: 18px;
} */

.check-icon {
  color: #00d1b2;
  animation: slideInUp; 
  animation-duration: .5s;
}

span{
  color: #00d1b2;
  animation: slideInUp; 
  animation-duration: .5s;
}

/* navbar */
.navbar_text {
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 22px;
}

.notfound_img {
  width: 100%;
  max-width: 1440px;
  position: relative;
  top: 0;
  right: 0;

}

/* star rating */
input[type=radio] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
}

.brand {
  font-family: var(--primary-font);
  /* font-size: 1em; */
}

