@import url('https://fonts.googleapis.com/css2?family=Ramaraja&family=Tenali+Ramakrishna&display=swap');

.hero {
  margin-top: 208px;
  width: 100%;
  max-width: 500px;
}

.hero_text_banner {
  letter-spacing: 0.02em;
  font-family: 'Ramaraja', serif;
  font-size: 60px;
}

.hero_text {
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.02em;
}

.img_container {
  margin-top: 105px;
}

.img_banner {
  width: 100%;
  max-width: 600px;
}